;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"
  "node_modules"]

 :dependencies
 [[lilactown/helix "0.1.10"]
  [cljs-bean/cljs-bean "1.9.0"]
  [emotion-cljs/emotion-cljs "0.2.1"]]

 :dev-http {8080 "public"}
 :builds
 {:frontend
  {:target  :browser
   :modules {:main {:init-fn helix-emotion.app/init}}}}}
