;; shadow-cljs configuration
{:source-paths
 ["src"
  "node_modules"]

 :dependencies
 [[reagent "1.1.1" :exclusions [cljsjs/react cljsjs/react-dom]]
  [emotion-cljs/emotion-cljs "0.1.5"]]

 :dev-http {8080 "public"}
 :builds
 {:frontend
  {:target  :browser
   :modules {:main {:init-fn reagent-emotion.app/init}}}}}
