;; shadow-cljs configuration
{:source-paths
 ["src"
  "node_modules"]

 :dependencies
 [[reagent "1.2.0" :exclusions [cljsjs/react cljsjs/react-dom]]
  [cljs-bean/cljs-bean "1.9.0"]
  [emotion-cljs/emotion-cljs "0.2.2"]]

 :dev-http {8080 "public"}
 :builds
 {:frontend
  {:target  :browser
   :modules {:main {:init-fn reagent-emotion.app/init}}}}}
